/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

$base-color: rgba(0, 119, 255, 0.836);

.has-text-base {
  color: $base-color;
}

.btn-base {
  cursor: pointer;
  background-color: $base-color;
  color: white;

  &:hover {
    box-shadow: 3px 4px 10px -4px black;
    color: white;
  }
}

.notification:not(:last-child) {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 100;

  .nav-bar {
    padding: 0 10px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 11px -4px rgba(0, 0, 0, 0.507);
    justify-content: space-between;
    
    .nav-bar-content {
      display: flex;

      .logo-container {
        display: flex;
        align-items: center;

        .nav-logo {
          background-color: $base-color;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          
          .fa-bimobject {
            color: white;
            font-size: 30px;
          }
        }

        .logo-text {
          font-weight: bold;
          font-size: 18px;
          color: $base-color;
          padding: 0 10px;
        }
      }

      .nav-bar-item {
        font-size: 18px;
        color: $base-color;
        padding: 0 14px;
        height: 40px;
        display: flex;
        align-items: center;

        &:hover {
          background-color: $base-color;
          color: rgba(248, 248, 248, 0.986);
        }
      }
    }
    
    .search-bar {
      position: relative;
      flex-grow: 1;
      margin: 0 10px;
      max-width: 500px;

      .input {
        height: 30px;
      }

      .fa {
        position: absolute;
        font-size: 18px;
        right: 10px;
        top: 6px;
        color: rgba(90, 90, 90, 0.555);
      }
    }

    div .sign-link {
      color: black;
      display: inline-block;
      padding-left: 10px;
    }
  }
}

body {
  margin-top: 70px;
}

.notification {
  height: 50px;
}

.profile-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-container {
  display: flex;
  justify-content: center;
  margin: 0 20px;

  .column-style {
    max-width: 1200px;
  }

  .profile-container {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 4px 4px 21px 2px #888888;
    
    .image-link {
      position: absolute;
      padding: 1px 10px;
      bottom: -10px;
      left: 0px;
      color: $base-color;
      font-weight: bold;
      background-color: white;
      width: 100%;
      box-shadow: 0px 0px 8px -3px black;
      
      &:hover {
        color: black;  
      }
    }
  }

  .timeline-container {
    padding: 0 20px;

    .post-form {
      form {
        display: flex;
        position: relative;
        flex-direction: column;
 
        .post-area {
          width: 100%;
          height: 150px;
        }

        .file {
          position: absolute;
          bottom: 65px;
          left: 5px;

          .file-cta {
            padding: 10px;
            height: 30px;
            background-color: white;
            border-radius: 2px;
            
            .file-icon {
              margin: 0;
              color: $base-color;
              
              .fa {
                font-size: 25px;
              }
            }
          }
        }

        .button {
          margin: 5px 0;
          align-self: flex-end  ;
        }
      }
    }

    .posts-container {

      .poster-identifier {
        display: flex;
        padding-bottom: 5px;
        justify-content: space-between;
        
        .poster-info {
          display: flex;
          align-items: center;
          .image-wrapper {
            width: 50px;
            height: 50px;
            margin-right: 10px;
          }
          
          .post-data {
            display: flex;
            flex-direction: column;

            .username {
              font-weight: bold;
              text-transform: capitalize;
            }

            .date {
              font-weight: normal;
              color: rgb(167, 167, 167);
              font-size: 12px;
            }
          }
        }
      }

      .post-text {
        line-height: 1.8;
        padding: 10px 0;
        text-transform: capitalize;
      }

      .post-image {
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
      }

      .reaction-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;

        .likes {
          display: flex;
          align-items: baseline;
          color: $base-color;
        }
        
        .dislikes {
          display: flex;
          align-items: flex-end;
          color: $base-color;

          a {
            display: flex;
          }
        }

        .comments {
          color: gray;
          font-size: 12px;
          display: flex;
          align-items: center;
          font-weight: bold;
        }
        
        .fas {
          color: $base-color;
          padding: 0 5px;
        }
      }

      .comment-form {
        display: flex;
        justify-content: space-between;

        .comment-avatar {
          height: 45px;
          max-width: 45px;
          min-width: 45px;
          margin-right: 10px;
        }

        form {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          width: 100%;

          .textarea{
            min-height: 50px;
            width: 100%;
            margin-bottom: 5px;
          }

          .button {
            font-weight: bold;
          }
        }
      }

      .comments-container {
        margin-top: 10px;
        .comment {
          display: flex;
          width: 100%;
          margin-bottom: 5px;
          
          .user-avatar {
            height: 45px;
            max-width: 45px;
            min-width: 45px;
            margin-right: 5px;
          }

          .comment-body {
            background-color: rgba(224, 224, 224, 0.26);
            border-radius: 30px;
            width: 100%;
            padding: 5px 15px;
            display: flex;
            align-items: center;

            .user-name {
              font-weight: bold;
              color: $base-color;
            }
          }
        }

        .comment-action {
          display: flex;
          justify-content: flex-end;
          align-items: baseline;

          .fa {
            color: $info;
            font-size: 12px;
            margin: 0 15px 10px ;
          }  
          .comment-date{
            font-weight: normal;
            color: #a7a7a7;
            font-size: 12px;
            margin-top: -5;
          }
        }
      }
    }
  }
}

.post-action-container {
  text-align: center;
  display: block;
  height: 30px;
  width: 30px;

  i {
    padding: 0 10px;
  }
}

.post-action-menu {
  width: 80px;
}