/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

body {
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}

.modal {
  .modal-close {
    top: 45px;
  }

  .avatar-edit-form {
    width: 440px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 21px 55px;
    border-radius: 30px;
  }

  .cover-edit-form {
    max-width: 640px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 21px 55px;
    border-radius: 30px;

    .cover-picture {
      height: 260px;
      width: 520px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .update-image {
      width: 100px;
      height: 100px;
    }

    .file {
      top: -5px;
    }

    .button {
      margin-top: 20px;
    }
  }
}

#cover-model {
  form {
    .file {
      top: -15px;
    }
  }
}

$base-color: rgba(0, 119, 255, 0.836);
$off-black: rgba(90, 90, 90, 0.555);
$clear-grey: rgba(231, 231, 231, 0.432);
$red-color: rgb(255, 51, 0);

.has-text-base {
  color: $base-color;
}

.btn-base {
  cursor: pointer;
  background-color: $base-color;
  color: white;

  &:hover {
    box-shadow: 3px 4px 10px -4px black;
    color: white;
  }
}

.notification:not(:last-child) {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100vw;
  z-index: 100;

  .notification {
    position: absolute;
    top: 80px;
    width: 60%;
    right: 20%;
  }

  .nav-bar {
    padding: 0 10px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 11px -4px rgba(0, 0, 0, 0.507);
    justify-content: space-between;
    
    .nav-bar-content {
      display: flex;

      .logo-container {
        display: flex;
        align-items: center;

        .nav-logo {
          background-color: $base-color;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          
          .fa-bimobject {
            color: white;
            font-size: 30px;
          }
        }

        .logo-text {
          font-weight: bold;
          font-size: 18px;
          color: $base-color;
          padding: 0 10px;
        }
      }

      .nav-bar-item {
        font-size: 18px;
        color: $base-color;
        padding: 0 14px;
        height: 40px;
        display: flex;
        align-items: center;

        &:hover {
          background-color: $base-color;
          color: rgba(248, 248, 248, 0.986);
        }
      }
    }
    
    .search-bar {
      position: relative;
      flex-grow: 1;
      margin: 0 10px;
      max-width: 500px;
      padding: 2px 35px;

      .input {
        height: 30px;
      }

      .fa {
        position: absolute;
        font-size: 18px;
        right: 45px;
        top: 8px;
        color: rgba(90, 90, 90, 0.555);
      }
    }

    div .sign-link {
      color: black;
      display: inline-block;
      padding-left: 10px;
    }
  }
}

body {
  margin-top: 40px;
}

.notification {
  height: 50px;
}

.profile-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mt {
  margin-top: 70px;
}

.underline:hover {
  text-decoration: underline;
}

.name {
  font-weight: bold;
}

.username {
  font-size: 10px;
  color: rgba(90, 90, 90, 0.555);
  text-transform: lowercase;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.note {
  color: rgb(192, 192, 192);
  padding: 0 15%;
  text-align: center;
}

.message_notice {
  border-bottom: 3px solid $red-color;
}

.red-hr {
  margin: 10px 30px;
  width: calc(100% - 60px);
  border: 1px solid rgba(255, 108, 108, 0.541);
}

.text-small {
  font-size: 10px;
}

.total-width {
  width: 100%
}

.profile-intro {
  height: 100%;
}

.mt-2 {
  margin-top: 7px;
}

.image-link {
  position: absolute;
  padding: 1px 10px;
  bottom: -10px;
  left: 0px;
  color: $base-color;
  font-weight: bold;
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 8px -3px black;
  cursor: pointer;
  
  &:hover {
    color: black;  
  }
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;

  .username {
    font-weight: bold;
  }

  .is-out-base {
    color: $base-color;
    border-color: $base-color;
    
    &:hover {
      box-shadow: 1px 0px 10px -4px black;
    }
    
    &:focus {
      box-shadow: 1px 0px 10px 0px black;
    }
  }
}

.is-base {
  border: none;
  background-color: $base-color;
  color: white;

  &:hover {
    color: white;
  }
}

.friend-request-action {
  .is-out-base {
    color: $base-color;
    border: none;
    
    &:hover {
      box-shadow: 1px 0px 10px -4px black;
    }
    
    &:focus {
      box-shadow: 1px 0px 10px 0px black;
    }
  }
  
  .is-base {
    border: none;
    background-color: $base-color;
    color: white;

    &:hover {
      color: white;
    }
  }
}

.edit-form {
  width: 600px;
  margin: 50px;
}

.file-cta {
  padding: 10px;
  height: 30px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  justify-content: center;

  .file-icon {
    margin: 0;
    color: $base-color;
    
    .fa {
      font-size: 25px;
    }
  }

  .file-name {
    font-size: 15px;
    border: none;
  }
}

.radio-group {
  .input {
    width: auto;
    max-width: auto;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    height: fit-content;

    label {
      font-size: 12px;
      margin-right: 10px;
    }

    .radio {
      label {
        display: flex;
        width: 55px;
        align-items: center;
        justify-content: space-evenly;
      }
    }
  }
}

.d-non {
  display: none;
}

.post-form {
  form {
    display: flex;
    position: relative;
    flex-direction: column;

    .post-area {
      width: 100%;
      height: 150px;
    }

    .file {
      position: absolute;
      bottom: 65px;
      left: 5px;
    }

    .button {
      margin: 5px 0;
      align-self: flex-end  ;
    }
  }
}

.text-center {
  text-align: center;
}

.shrink-non {
  flex-shrink: 0;
}

.main-container {
  display: flex;
  justify-content: center;

  .column-style {
    max-width: 1200px;
  }

  .requests-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .request {
      display: flex;
      padding: 10px 20px;
      margin: 10px;
      box-shadow: 0px 0px 11px -4px black;
      border-radius: 10px;
      width: 300px;
  
      .user-image {
        max-width: 60px;
        min-width: 60px;
        height: 60px;
        margin-right: 10px;
      }
    }
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    
    .avatar {
      text-align: center;
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: 4px 4px 21px 2px #888888;
    }

    .username {
      margin-top: 15px;
      font-size: 30px;
      font-weight: bold;
      color: $base-color;
    }

    .bio {
      color: rgba(156, 156, 156, 0.658);
      text-transform: capitalize;
      text-align: justify;
      width: 235px;
      margin: 10px;

      i {
        color: black;
        margin-right: 10px;
      }
    }

    .profile_links {
      display: flex;
      flex-direction: column;

      a {
        font-size: 18px;
        padding: 5px 20px;
        margin: 10px 0;
        border: 1px solid rgb(200, 200, 200);
        color: $base-color;
        border-radius: 20px;
      }

      .messages {
        position: relative;
        padding-right: 40px;

        span {
          position: absolute;
          right: 20px;
          bottom: 9px;
          background-color: #ff3300;
          color: white;
          padding: 2px 5px;
          font-size: 10px;
          font-weight: bold;
          border-radius: 5px;
        }
      }
    }
  }

  .timeline-container {
    padding: 0 20px;

    .posts-container {

      .poster-identifier {
        display: flex;
        padding-bottom: 5px;
        justify-content: space-between;
        
        .poster-info {
          display: flex;
          align-items: center;
          .image-wrapper {
            width: 50px;
            height: 50px;
            margin-right: 10px;
          }
          
          .post-data {
            display: flex;
            flex-direction: column;

            .username {
              font-weight: bold;
              text-transform: capitalize;
            }

            .date {
              font-weight: normal;
              color: rgb(167, 167, 167);
              font-size: 12px;
            }
          }
        }
      }

      .post-text {
        line-height: 1.8;
        padding: 10px 0;
        text-transform: capitalize;
      }

      .post-image {
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }

      .reaction-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;

        .likes {
          display: flex;
          align-items: baseline;
          color: gray;

          .has-text-base {
            color: $base-color;
          }
        }
        
        .dislikes {
          display: flex;
          align-items: flex-end;
          color: gray;

          .has-text-base {
            color: $base-color;
          }

          a {
            display: flex;
          }
        }

        .comments {
          color: gray;
          font-size: 12px;
          display: flex;
          align-items: center;
          font-weight: bold;
        }
        
        

        a {
          color: gray;
          .fas {
            padding: 0 5px;
          }

        }
      }

      .comment-form {
        display: flex;
        justify-content: space-between;

        .comment-avatar {
          height: 45px;
          max-width: 45px;
          min-width: 45px;
          margin-right: 10px;
        }

        form {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          width: 100%;

          .textarea{
            min-height: 50px;
            width: 100%;
            margin-bottom: 5px;
          }

          .button {
            font-weight: bold;
          }
        }
      }

      .comments-container {
        margin-top: 10px;
        .comment {
          display: flex;
          width: 100%;
          margin-bottom: 5px;
          
          .user-avatar {
            height: 45px;
            max-width: 45px;
            min-width: 45px;
            margin-right: 5px;
          }

          .comment-body {
            background-color: rgba(224, 224, 224, 0.26);
            border-radius: 30px;
            width: 100%;
            padding: 5px 15px;
            display: flex;
            align-items: center;

            .user-name {
              font-weight: bold;
              color: $base-color;
            }
          }
        }

        .comment-action {
          display: flex;
          justify-content: flex-end;
          align-items: baseline;

          .fa {
            color: $info;
            font-size: 12px;
            margin: 0 15px 10px ;
          }  
          .comment-date{
            font-weight: normal;
            color: #a7a7a7;
            font-size: 12px;
            margin-top: -5;
          }
        }
      }
    }
  }

  .user-info-container {
    position: relative;
    margin-bottom: 50px;
  
    .cover-picture {
      position: relative;
  
      .cover-image {
        height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
  
      .cover-button {
        width: 155px;
        text-align: center;
        position: absolute;
        right: 40px;
        bottom: 0;
        left: inherit;
      }
    }
  
    .profile-show-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: absolute;
      left: 163px;
      bottom: -21px;
      width: auto;
      
      .avatar {
        text-align: center;
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 4px 4px 21px 2px #888888;
      }

      .username {
        margin-top: 15px;
        font-size: 30px;
        font-weight: bold;
        color: $base-color;
        text-shadow: 1px 1px $off-black;
      }

      .user-info {
        position: absolute;
        width: 270px;
        right: -280px;
        top: 20px;
  
        .name {
          color: white;
          font-size: 30px;
          text-shadow: 1px 1px $off-black;
        }
        
        .username {
          color: white;
          font-size: 12px;
          position: absolute;
          top: 20px;
        }
      }
  
      .friend-status {
        position: absolute;
        color: white;
        bottom: -30px;
        right: 50px;
  
        span {
          text-shadow: 2px 0px black;
        }
      }
    }
  }
}

.post-action-container {
  text-align: center;
  display: block;
  height: 30px;
  width: 30px;

  i {
    padding: 0 10px;
  }
}

.post-action-menu {
  width: 80px;
}

.suggested-friends {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .suggested-friend {
    height: 120px;
    display: flex;
    margin: 0 10px 10px 20px;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    align-items: center;
    width: 310px;
    
    .suggested-friend-image {
      height: 100px;
      min-width: 100px;
      max-width: 100px;
      margin: 10px;
    }
  }
}

.rooms-page {
  display: flex;
  width: 100vw;
  height: calc(100vh - 40px);

  .message-notification {
    padding: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: $off-black ;
  }
  
  .rooms-shower {
    flex-shrink: 0;
    width: 350px;
    height: 100%;
    border-right: 1px solid $clear-grey;
    overflow-y: scroll;

    .room-linker {
      position: relative;
      display: flex;
      height: 100px;
      margin: 10px;
      border-radius: 40px;

      .message-notice {
        position: absolute;
        right: 5px;
        bottom: 40px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $base-color;
      }
      
      &:hover {
        background-color: $clear-grey;
      }

      .user-image {
        width: 80px;
        height: 80px;
        margin: 10px 10px;
      }

      .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;

        .name {
          font-size: 25px;
          color: $base-color;

          &:hover{
            color: $base-color;
          }
        }

        .username {
          font-weight: bold;
          font-size: 12px;
        }
      }
    }

    .active {
      background-color: $base-color;

      &:hover {
        background-color: $base-color;
      }

      .body {
        .name {
          color: white;

          &:hover{
            color: white;
          }
        }

        .username {
          color: whitesmoke;
        }
      }
    }
  }

  .messages-container {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;

    .messages-header {
      display: flex;
      padding: 10px 20px;
      border-bottom: 1px solid $clear-grey;
      width: 100%;

      .user-image {
        width: 50px;
        height: 50px;
        margin-right: 15px;;
      }

      .user-name {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .name {
          color: $base-color;
          font-size: 20px;
        }

        span {
          font-size: 15px;
          color: $off-black;
        }
      }
    }

    .messages-body {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;

      .wrapper {
        margin-bottom: 5px;
        width: fit-content;
        
        .message {
          width: fit-content;
          margin: 5px;
          background-color: $clear-grey;
          border-radius: 30px;
          padding: 10px 20px;
          font-size: 16px;
        }

        .date {
          color: $off-black;
          font-size: 13px;
          margin: 0 30px;
        }
      }

      .me {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .message {
          background-color: $base-color;
          color: white;
        }
      }
    }

    .chat-box {
      form {
        display: flex;
        padding: 0 20px;

        .field {
          flex-grow: 1;
        }
      }
    }
  }
}

.page-wrapper {
  background-image: url(https://source.unsplash.com/random/1650x900);
  height: calc(100vh - 40px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

  .form-container {
    background-color: rgba(255, 255, 255, 0.65);
    max-width: 290px;
    float: right;
    margin: 50px 30px;
    padding: 20px;
  }

  .sign-up {
    max-width: 400px;
  }
}

.display-none {
  display: none;
}

.fix-height {
  height: fit-content !important;
}

@media screen and (max-width: 1023px) {
  header {
    .notification {
      top: 180px;
    }
  }

  .page-wrapper {
    height: 100vh;
  }

  .columns:not(.is-desktop) {
    display: flex;
    flex-direction: column;

    .columns {
      flex-direction: row;
    }
  }

  .main-container {
      .timeline-requests-container {
        .request {
          width: 208px;

          .user-image {
            min-width: 80px;
            height: 80px;
          }

          .username {
            font-size: 17px;
          }

          .action {
            font-size: 25px;
          }
        }
      }

    .column-style {
      margin-right: 0;
    }

    .column.is-three-fifths {
      flex: none;
      width: 100%;
    }

    .column.is-one-fifth {
      flex: none;
      width: 100%;
    }

    .profile-container {
      position: fixed;
      top: 40px;
      z-index: 100;
      width: 100vw;
      flex-direction: row;
      justify-content: center;
      background-color: $base-color;
      padding: 10px 0;

      .avatar {
        width: 60px;
        height: 60px;
      }
      
      .username {
        display: none;
      }

      .profile_links {
        flex-direction: row;
    
        a {
          margin: 0 10px;
          background-color: white;
        }
      }
    }

    .rooms-page {
      .rooms-shower {
        width: 120px;

        .room-linker {
          width: 100px;
          border-radius: 50%;

          .body {
            display: none;
          }

          .message-notice {
            right: 11px;
            bottom: 12px;
            width: 20px;
            height: 20px;
            background-color: $red-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    .notification {
      top: 60px;
    }
  
    .md-display-none {
      display: none;
    }

    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .avatar {
        width: 200px;
        height: 200px;
      }

      .name {
        color: white;
        font-size: 30px;
        font-weight: bold;
      }

      .username {
        color: white;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  .rooms-page {
    .message-notification {
      padding: 60px;
    }
  }

  .columns:not(.is-desktop) {
    .columns {
      flex-direction: column;
    }
  }

  body {
    margin: 0;
  }

  .main-container {
    .rooms-page {
      height: 100vh;
    }

    .user-info-container {
      .profile-show-container {
        left: 30px;
      }
    }

    .timeline-container {
      .posts-container {
        .box {
          .post-image {
            img {
              height: 415px;
            }
          }
        }
      }
    }
  }
 
  header {
    .display-none {
      display: block;
    }

    .nav {
      .search-bar {
        position: relative;
        padding-top: 20px;

        .fa-search {
          position: absolute;
          right: 20px;
          bottom: 10px;
        }
      }

      li {
        width: 350px;
        
        span {
          padding: 3px 12px;
          background-color: #ff3300;
          color: white;
          border-radius: 13px;
        }

        a {
          font-size: 30px;
          font-weight: bold;
          color: white;
        }
      }
    }
    
    .nav-tgl {
      display: inline-block;
      cursor: pointer;
      position: fixed;
      z-index: 100;
      right: 30px;
      top: 30px;
      width: 70px;
      height: 70px;
      border: none;
      border-radius: 50%;
      padding: 0;
      background: #fff;
      box-shadow: 0px 4px 24px rgba(#000, 0.24);
      line-height: 0.6;
      text-align: center;

      .circle {
        position: absolute;
        padding: 10px;
        background-color: $red-color;
        border-radius: 50%;
        right: 50px;
        bottom: 0px;
      }
      
      // making the dividers
      > span {
        // the second divider
        display: inline-block;
        position: relative;
        height: 2px;
        width: 34px;
        border-radius: 1px;
        background: $base-color;
        vertical-align: middle;
        
        // the first & the third dividers
        &:before, &:after {
          display: inline-block;
          position: absolute;
          content: "";
          height: 2px;
          border-radius: 1px;
          background: $base-color;
          // for the hover state
          transition: all 200ms;
        }
        &:before {
          top: -11px;
          left: 3px;
          width: 28px;
        }
        &:after {
          top: 11px;
          left: 6px;
          width: 22px;
        }
      }
      
      // ofcorse we should find a replacement for the focus state but it's not our topic
      &:focus {outline: none}
      
      &:hover > span:after, &:hover > span:before {
        width: 34px;
        left: 0;
      }
    }
    
    // for the nav background (styling the nav itself is not our topic)
    .nav ul {
      display: flex;
      padding-top: 60px;
      align-items: center;
      flex-direction: column;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: 0;
      content: '';
      width: 100vw;
      height: 100vh;
      background: $base-color;
      transition: all 500ms ease-in-out;
      
      // that's all the pen about
      clip-path: circle(30px at calc(100% - 65px) 65px);
      // for AT
    }
    
    // when it gits activated
    .menu.active {
      .nav ul {
        visibility: visible;
    
        // that's all the pen about
        clip-path: circle(100%);
      }
      
      .nav-tgl > span {
        height: 0;
        &:after, &:before {
          top: 0px;
          left: 0;
          width: 34px;
        }
        &:after {
          transform: rotate(-45deg);
        }
        &:before {
          transform: rotate(45deg);
        }
      }
    }
  }

  .main-container {
    .profile-container {
      display: none;
    }

    .mt {
      margin-top: 0;
    }
  }
}


@media screen and (max-width: 450px) {
  .main-container {
    .timeline-container {
      .posts-container {
        .box {
          .post-image {
            img {
              height: 215px;
            }
          }
        }
      }
    }
  }
}